body {
    background-color: #F5F5DC;
}
div#outer {
    position: absolute;
    top: 3%;
    right: 3%;
    left: 3%;
    bottom: 3%;
    background-color: #F5F5DC;
}
div#countdown-container {
    position:absolute;
    right: 0;
    left: 0;
    top:50%; 
    height:10em;
    margin-top:-13em;
    text-align: center;
}
div#interval-name-container {
    margin-bottom:2em;
}
span#interval-label {
    font-size: 6em;
}
span#countdown {
    font-size: 10em;
}
